
<div @onclick=OnCollapse class="relative flex flex-1 items-center justify-center flex-col cursor-pointer">
    <h1 class="text-white text-center font-bold">Filtrar Resultados</h1>
    <h2 class="text-green-400 pointer-events-none">@Data[SelectedIndex].Label</h2>

    <div style="z-index: 2;" class="absolute bg-zinc-800 shadow-lg w-full py-2 mt-auto rounded-3xl left-1/5 md:left-[150%] md:top-[-200px] md:w-[150%] @hidden flex flex-col gap-1">
        @for (int i = 0; i < Data.Length; i++)
        {
            var data = Data[i];
            <DropDownDashboardOption Index="i" Label=@(data.Label) OnSelected="OnSelected" />
        }
    </div>
</div>

@code {
    [Parameter]
    public DropdownData[] Data { get; set; }

    [Parameter]
    public Action OnChangeSelected { get; set; }

    public int SelectedIndex { get; set; } = 0;
    public DropdownData Current { get => Data[SelectedIndex]; }

    private bool collapesed = true;
    private string hidden { get => collapesed ? "hidden" : ""; }

    void OnCollapse()
    {
        collapesed = !collapesed;
    }

    void OnSelected(int index)
    {
        SelectedIndex = index;
        OnChangeSelected?.Invoke();
    }
}
