<button class="w-5 h-5 flex justify-center items-center relative">
    <img class="w-full h-full" src="images/icones/menu-vertical.png" />
</button>

@code {
    private bool collapsed = true;
    [Parameter]
    public ClientMark Mark { get; set; }
}
