<div class="w-full h-full flex bg-white justify-center items-center flex-col">
    <div class="w-full h-[400px] flex flex-row">
        <div class="">
            <h1 class="text-black">BASIC</h1>
        </div>
    </div>
</div>