@page "/notifications";
@inject Api api;
@inject NavigationStacker navManager;
@inject LocalStorage localStorage;

<div class="flex flex-col w-full gap-0.5 pb-10 bg-zinc-900">
    <MarkseHeader>
        <ButtonCustom>Nova Marca</ButtonCustom>
    </MarkseHeader>
    <BackButton />
    <div class="w-full flex flex-col items-center gap-2">
        <h1 class="text-zinc-100 text-2xl">Caixa de entrada</h1>
        <div class="w-full flex flex-col">
            @if (isLoading)
            {
                <div class="w-full flex justify-center">Carregando notificações</div>
            }
            else
            {
                if (notifications.Count == 0)
                {
                    <div class="w-full flex justify-center text-white">Você não tem nenhuma notificação!</div>
                }
                else
                {
                    <div class="w-full flex flex-col gap-2">
                        @foreach (var notification in notifications)
                        {
                            <div class="w-full flex flex-row justify-between">

                            </div>
                        }
                    </div>
                }
            }
        </div>
    </div>
</div>

@code{
    bool isLoading = false;
    List<UserNotification> notifications = new();

    string HeaderButtonText = "";

    protected override async Task OnInitializedAsync()
    {
        var loggedRole = await localStorage.Get("loggedRole");
        if (loggedRole == "client")
        {
            HeaderButtonText = "Nova Marca";
        }
        else if (loggedRole == "master")
        {
            HeaderButtonText = "ADM";
        }
    }
    public void Back()
    {
        navManager.NavigateTo("/index", registerPage: true);
    }
}