@page "/viewMark";
@inject LocalStorage localStorage;
@inject NavigationStacker navManager;

<div class="w-full h-fit h-full bg-zinc-800 flex flex-col overflow-y-auto">
    <MarkseHeader>
        <ButtonCustom>Nova Marca</ButtonCustom>
    </MarkseHeader>
    <div class="flex flex-col w-full p-4">
        <MarkDashboard />
        <SearchResults />
    </div>

    <ListResults IsEspecificy=true ClientMark="mark"/>
</div>

@code {
    ClientMark mark;
    protected override async Task OnInitializedAsync()
    {
        var json = await localStorage.GetInSession("cachedMark");
        if (string.IsNullOrEmpty(json))
        {
            await navManager.NavigateBack();
            return;
        }

        mark = JsonSerializer.Deserialize<ClientMark>(json);
    }
}