<div class="w-full flex flex-row gap-2 pl-3 items-center">
    <div style="background-color: @Color;" class="rounded-full w-3 h-3"/>
    <h2 class="text-zinc-100 text:lg md:text-2xl">@ChildContent</h2>
</div>

@code{
    [Parameter]
    public string Color { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}