@inject NavigationStacker navManager;

<header class="w-full h-[60px] py-1 bg-zinc-600 flex flex-row gap-2 items-center justify-between md:h-[80px] md:px-12">
    <img tabindex="0" src="images/walli_logo.png" class="object-contain w-[40%] ml-3 h-full md:w-auto"/>
    <div class="w-[50%] flex flex-row md:w-[30%] justify-end">
        <div class="w-[70%] py-5 px-2">
            <ButtonStyled Color="text-zinc-900" FontSize="text-[8pt]" OnClick="Click">@ButtonCustom</ButtonStyled>
        </div>
    </div>
</header>


@code{
    [Parameter]
    public RenderFragment? ButtonCustom { get; set; }

    [Parameter]
    public string TargetRoute { get; set; } = "/novamarca";

    public void Click()
    {
        navManager.NavigateTo(TargetRoute, true);
    }
}
