@inject Api api;
@inject NavigationStacker navManager;

<div class="w-full flex flex-col py-3 pl-4">
    <h1 class="text-white text-xl">Endereço cadastrado:</h1>

    @if (Address == null)
    {
        <h2 class="text-white text-xl">Nenhum endereço cadastrado</h2>
    }
    else
    {
        <div class="flex flex-col gap-2 text-lg">
            <h2 class="text-white text-lg">CEP: @Address.CEP</h2>
            <h2 class="text-white text-lg">Cidade: @Address.City</h2>
            <h2 class="text-white text-lg">UF: @Address.UF</h2>
            <h2 class="text-white text-lg">Endereço: @Address.Address</h2>
        </div>
    }

    <div class="w-[160px] py-3">
        @if (Address == null)
        {
            <ButtonStyled @onclick=@(() => navManager.NavigateTo("/adicionar-endereco"))>Adicionar Endereço</ButtonStyled>
        }
        else
        {
            <ButtonStyled @onclick=@(() => navManager.NavigateTo("/editar-endereco"))>Editar Endereço</ButtonStyled>
        }
    </div>
</div>
@code {
    public Action? SucefullLoad;
    private bool loading = true;
    
    [Parameter]
    public UserAddress? Address { get; set; }
}
