<div title="@Message" class="flex w-[32px] h-[32px]">
    <img src="images/icones//circle-tooltip.png" class="w-full h-full"/>
</div>

@code {
    [Parameter]
    public string Message { get; set; } = string.Empty;
}
