<LineTable>
    <td class="text-white">@Name</td>
    <td class="text-white">@Email</td>
</LineTable>

@code {
    [Parameter]
    public RenderFragment Name { get; set; }

    [Parameter]
    public RenderFragment Email { get; set; }
}