<div class="w-full h-fit h-full bg-zinc-800">
    <MarkseHeader>
        <ButtonCustom>Nova Marca</ButtonCustom>
    </MarkseHeader>
    <div class="flex flex-col w-full p-4">
        <MarksDashboard />
        <SearchResults isHome=true />
    </div>

    <ListResults IsEspecificy=false ClientMark="null"/>
</div>