<div class="w-full h-full bg-zinc-800 overflow-y-auto">
    <MarkseHeader>
        <ButtonCustom>ADM</ButtonCustom>
    </MarkseHeader>
    <div class="flex flex-col w-full p-4">
        <ManagerDashboard @ref="dashboard" />
        <div class="py-3 w-full flex justify-center items-center">
            <div class="bg-[rgba(22,22,22,255)] md:max-w-[300px] px-10 py-4 rounded-2xl">
                <DropDownDashboard @ref=dropDown OnChangeSelected="OnChangeSelected" Data="dropdownData" />
            </div>
        </div>
        @if (current?.Value == "marks")
        {
            <ListMarks />
        }
        else if (current?.Value == "franqueds")
        {
            <ListFranqueds />
        }
        else if (current?.Value == "sellers")
        {
            <ListSellers />
        }
        else if (current?.Value == "clients")
        {
            <ListClients />
        }
    </div>
</div>

@code {

    private DropdownData[] dropdownData = new DropdownData[]
    {
        new ()
        {
            Label = "Marcas",
            Value = "marks"
        },
        new()
        {
            Label = "Fraqueados",
            Value = "franqueds"
        },
        new()
        {
            Label = "Vendedores",
            Value = "sellers"
        },
        new()
        {
            Label = "Clientes",
            Value = "clients"
        }
    };

    DropDownDashboard dropDown;
    ManagerDashboard dashboard;
    private DropdownData current;

    protected override void OnAfterRender(bool firstRender)
    {
        if (!firstRender)
            return;

        current = dropDown.Current;
        StateHasChanged();
    }

    private void OnChangeSelected()
    {
        current = dropDown.Current;
        StateHasChanged();
    }
}