<div class="flex flex-col w-full gap-1 flex justify-center items-center">
    <table class="w-full md:w-[60%]">
        <thead class="text-white">
            @HeaderContent
        </thead>
        <tbody class="first:rounded-t-2xl last:rounded-b-2xl">
            @ChildContent
        </tbody>
    </table>
    @PaginationContent
</div>

@code{
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public RenderFragment PaginationContent { get; set; }

    [Parameter]
    public RenderFragment HeaderContent { get; set; }
}